body {
  background-color: azure;
}

img {
  position: fixed;
  z-index: 1;
  height: 650px;
  display: block;
  margin-left: 300px;
  margin-top: 10px;
}

.place {
  position: fixed;
  z-index: 3;
  margin-top: 90px;
  margin-left: 20px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#city {
  font-size: 24pt;
  color: rgb(41, 140, 140);
}

#country {
  font-size: 14pt;
  color: #1c6161;
  text-transform: uppercase;
}

#search-widget {
  position: fixed;
  z-index: 3;
  padding: 0;
  margin-top: 138px;
  margin-left: 22px;
}

#search-button {
  position: relative;
  margin-left: 5px;
}

#search-button,
#current-location-button {
  position: relative;
  margin-top: -5px;
  background-color: #b9d5e1;
  color: #0b4963;
}

.today {
  position: fixed;
  z-index: 3;
  margin-top: 130px;
  margin-left: 500px;
  font-size: 16pt;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#today-time {
  color: #488a8b;
}

.today-data {
  position: relative;
  z-index: 2;
  height: 200px;
  width: 300px;
  margin-top: 100px;
  margin-left: 420px;
}

#today-temp {
  position: absolute;
  z-index: 3;
  padding: 0px;
  margin-top: 55px;
  text-align: right;
  font-size: 60pt;
  color: #488a8b;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#today-icon {
  position: absolute;
  z-index: 3;
  margin-top: 50px;
  margin-left: 150px;
  width: 100px;
  height: 100px;
}

.icon {
  width: 100px;
  height: 100px;
}

.conversion {
  position: absolute;
  z-index: 3;
  margin-left: 90px;
  margin-top: 80px;
  font-size: 16pt;
}

.weather-data {
  position: fixed;
  z-index: 3;
  padding: 0;
  margin-top: 260px;
  margin-left: 430px;
  list-style-type: none;
  font-size: 12pt;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#divider {
  color: #488a8b;
}

.card-deck {
  position: fixed;
  z-index: 4;
  margin-top: 20px;
  margin-left: 540px;
}

.card-title {
  text-align: center;
  font-size: 20pt;
}

.emoji {
  text-align: center;
  font-size: 30pt;
}
#credit {
  position: fixed;
  z-index: 3;
  display: block;
  margin-right: 100px;
  margin-top: 650px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.disabled-link {
  color: black;
  cursor: default;
}

.disabled-link:hover {
  text-decoration: none;
  color: black;
}
