body {
  background-color: azure;
}

img {
  position: absolute;
  z-index: 1;
  height: 95vh;
  display: block;
  margin-left: 300px;
  margin-top: 5px;
}

#today {
  position: fixed;
  z-index: 3;
  padding-top: 30px;
  padding-left: 430px;
}

#search-widget {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  margin-left: 740px;
}

#search-button {
  position: relative;
  margin-left: 5px;
}

#search-button,
#current-location-button {
  position: relative;
  margin-top: -5px;
  background-color: #b9d5e1;
  color: #0b4963;
}

#city {
  color: rgb(41, 140, 140);
  display: inline-block;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
}

#country {
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(28, 97, 97);
}

#today-temp,
.today-emoji {
  font-size: 80px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#credit {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 505px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#today-date {
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#conversion {
  font-size: 10pt;
}
