body {
  background-color: azure;
}

.wizard-container {
  padding-top: 20px;
  max-width: 860px;
  margin: 0 auto;
}

p.place {
  margin: 30px 0px -6px 466px;
}
.place {
  display: block;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#city {
  font-size: 24pt;
  color: rgb(41, 140, 140);
}

#country {
  font-size: 14pt;
  color: #1c6161;
  text-transform: uppercase;
}

.today {
  margin-left: 190px;
  font-size: 16pt;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#today-time {
  color: #488a8b;
}

#search-widget {
  display: block;
  float: right;
  margin-right: 120px;
}

#current-location-button {
  margin-left: 10px;
}
#search-button,
#current-location-button {
  margin-top: 5px;
  background-color: #b9d5e1;
  color: #0b4963;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.row-2 {
  margin-bottom: -15px;
}

.row-3 {
  margin-left: 100px;
}

.temp-column {
  padding-right: -15px;
  margin-right: -15px;
}

#today-temp {
  display: inline;
  text-align: right;
  margin-top: -20px;
  font-size: 60pt;
  color: #488a8b;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.temp-unit {
  position: relative;
  margin-top: -15px;
  margin-left: 15px;
}

#celcius {
  position: absolute;
  margin-top: 22px;
  font-size: 20pt;
}

.icon-column {
  padding: -15px;
  margin: -15px;
}

#today-icon {
  float: left;
  width: 110px;
  height: 110px;
}

.today-icon p {
  position: absolute;
  display: none;
  margin-top: 80px;
  border-radius: 20px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.today-icon:hover {
  cursor: pointer;
}
.today-icon:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  width: 100px;
  text-align: center;
}

.weather-data {
  margin-left: 80px;
  float: left;
  list-style-type: none;
  font-size: 12pt;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.weather-data .title {
  color: #488a8b;
}

.forecast-title {
  float: right;
  margin-right: 218px;
  margin-top: -50px;
  color: #488a8b;
  font-size: 44px;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-deck {
  float: right;
  margin: 10px 70px 90px 0px;
}

.card-header {
  background-color: white;
  border-color: #b9d5e0;
}

.card {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border-color: #b9d5e0;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-title {
  font-size: 12pt;
}

.temp-min {
  color: #488a8b;
}

a {
  color: #488a8b;
}

#credit {
  bottom: 0;
  text-align: center;
  font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a#credit:hover {
  cursor: pointer;
}
